

.topTitleBox h1 {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 1rem;
}
.topSubTitleBox{
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
.tagBar {
  margin-bottom: 1rem;
  display: flex;
  gap: 0.5rem;
}

.tagBar .tagBtn {
  font-weight: 600;
  padding: 0.15rem 0.5rem;
  border-radius: 0.5rem;
  white-space: nowrap;
  cursor: pointer;
  background-color: rgb(38 38 38 );
  color: rgb(229 229 229);
  font-size: 1.2rem;
}
.tagBar .tagBtn span {
  font-size: 0.7rem;
}

.postList {
 display: grid;
  margin: 3rem 0;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.post {
  width: 100%;
  background: #fff;
  padding: 1rem 1rem;
}
.post h2 {
  line-height: 1.75rem;
  font-size: 1.25rem;
  font-weight: 700;
}
.post p {
  margin-top: .25rem;
  font-size: 1rem;
  color:rgb(163,163,63);
  margin-bottom: 1rem;
}
.postInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.date span {
  font-size: 0.75rem;
  line-height: 1rem;
  border: 0 solid #e5e7eb;
}